* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: gray;
  font-family: sans-serif;
}

/* .container {
  width: 90%;
  padding: 5em;
  background-color: pink;
  margin: 0 auto;
} */

/* .main-container {
  width: 80%;
  margin: 0 auto;
  background-color: pink;
  padding: 2em;
  height: 300px;
  display: flex;
  justify-content: between;
  font-size: 1em;
}

.container {
  width: 50%;
  font-size: 1em;
} */

.main-containter {
  width: 90%;
  margin: 0 auto;
  padding: 2em;
}

.first-container {
  background-color: indigo;
}

.second-container {
  margin-top: 2rem;
  background-color: gray;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }
}
